{% extends "/pages/blog.html" %}

{% block header %}
<div class="js-tabs tabs post-list-tabs messages-tabs">
  <div class="tabs-nav">
    <a href="/messages" class="tab messages-unread-tab js-unread-messages js-navigate" data-unread="{{ unread_messages or 0 }}">Новые</a>
    <a href="/messages/incoming" class="tab messages-incoming-tab active js-navigate">Входящие</a>
    <a href="/messages/outgoing" class="tab messages-outgoing-tab js-navigate">Исходящие</a>
  </div>
</div>
{% endblock %}

{% block empty %}
Нет входящих сообщений.
{% endblock %}

{% block pager %}
{% if has_next %}
<a class="more-posts js-more" href="/messages/incoming/{{ page + 1 }}">Ещё</a>
{% endif %}
{% endblock %}
