{% extends "./blog.html" %}

{% block header %}
<div class="js-tabs tabs header-tabs post-list-tabs comments-tabs">
  <div class="tabs-nav">
    <a href="/comments" class="tab comments-tab{% if not unread %} active{% endif %} js-navigate">Комментарии</a>
    <a href="/comments/unread" class="tab counter-tab{% if unread %} active{% endif %} js-unread-posts js-navigate" data-unread="{{ unread_comments or 0 }}">Непрочитанные</a>
  </div>
</div>
{% endblock %}

{% block empty %}
Нет новых комментариев.
{% endblock %}

{% block pager %}
{% if has_next %}
<a class="more-posts js-more" href="/comments{% if unread %}/unread{% endif %}/{{ page + 1 }}">Ещё</a>
{% endif %}
{% endblock %}
