{% extends "/pages/blog.html" %}

{% block title %}Лента{% endblock %}

{% block header %}
<div class="header tabs post-list-tabs recent-tabs">
  <div class="tabs-nav">
    <a href="/recent" class="tab recent-tab{% if not unread %} active{% endif %} js-navigate">Лента</a>
    <a href="/recent/unread" class="tab counter-tab {% if unread %} active{% endif %} js-unread-posts js-navigate" data-unread="{{ unread_posts or 0 }}">Непрочитанные</a>
  </div>
</div>
{% endblock %}

{% block empty %}

{% endblock %}

{% block pager %}
{% if has_next %}
<a class="more-posts js-more" href="/recent{% if unread %}/unread{% endif %}/{{ page + 1 }}">Ещё</a>
{% endif %}
{% endblock %}
