{% extends "/pages/profile/info.html" %}

{% block profile_page %}
  <div class="profile-page profile-password-page">
    <form action="." method="post">
      <div class="row">
        <div class="label">Старый пароль</div>
        <div class="value">
          <input type="password" name="old-password">
        </div>
      </div>
      <div class="row">
        <div class="label">Новый пароль</div>
        <div class="value">
          <input type="password" name="new-password">
        </div>
      </div>
      <div class="row">
        <div class="label">Подтверждение</div>
        <div class="value">
          <input type="password" name="confirm">
        </div>
      </div>
      <div class="row">
        <input type="submit" class="btn" value="Сохранить"/>
      </div>
    </form>
  </div>
{% endblock %}
