$blog-header-height: $header-height;

@import "compass/css3";
@import "util/clearfix";

@mixin avatar ($size) {
  display: block;

  img {
    border: 0;
    width: $size;
    height: $size;
    @include border-radius(3px);
  }
}

.avatar24 {
  @include avatar(24px);
}

.avatar40 {
  @include avatar(40px);
}

.avatar80 {
  @include avatar(80px);
}

a.user {
  font-weight: bold;
  text-decoration: none;
}

.blog-header {
  position: relative;
  display: block;
  @include box-sizing("border-box");
  height: $blog-header-height;
  margin: 0;
  padding: 0.5em #{$blog-header-height + 10};
  text-decoration: none;
  background: $blog-color;

  &:before {
    @extend .fa;
    @extend .fa-arrow-right;
    position: absolute;
    right: 0;
    top: 0;
    width: $blog-header-height;
    height: $blog-header-height;
    text-align: center;
    line-height: $blog-header-height;
    font-size: 1.2em;
    color: #ffffff;
    opacity: 0.75;
    @include transition(opacity 0.25s ease);
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  .avatar40 {
    position: absolute;
    left: 15pt;
    top: 50%;
    margin-top: -20px;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    opacity: 0.75;
  }

  &.user-info-header {
    &:before {
      @extend .fa-arrow-left;
      right: none;
      left: 7.5pt;
    }
  }
}

.other-blog .blog-header {
  background: $other-blog-color;
}

.posts-list {
  margin: 10px;
}

.posts-empty {
  margin: 4em;
  text-align: center;
}

.blog-view {
  .more-posts {
    color: $blog-color;
  }
}

.other-blog {
  .more-posts {
    color: $other-blog-color;
  }
}

