.comments-tabs {
  .tabs-nav {
    .tab {
      color: $comments-color;

      &:before {
        @extend .fa;
        margin-right: 0.5em;
        #opacity: 0.5;
      }

      &.active {
        background: lighten($comments-color, 10%);
        color: #ffffff;
        border-bottom-color: $comments-color;
      }
    }
  }

  .comments-tab {
    @extend .fa-comments;

    &:before {
      font-size: 1.1em;
    }
  }

  .comments-unread-tab {
    &:before {
      content: attr(data-unread);
      @include border-radius(2px);
      min-width: 1em;
      text-align: center;
      background: lighten($comments-color, 10%);
      color: #ffffff;
      padding: 0.125em;
      font-size: 1em;
    }

    &.active {
      &:before {
        background: #ffffff;
        color: $comments-color;
      }
    }
  }
}

.comments-view {
  .more-posts {
    color: $comments-color;
  }
}

