.comments-tabs {
  .tabs-nav {
    .tab {
      color: $comments-color;

      &.active {
        background: lighten($comments-color, 10%);
        color: #ffffff;
        border-bottom-color: $comments-color;
      }
    }
  }

  .comments-tab:before {
    @extend .fa-comments;
  }

  .counter-tab {
    &:before {
      background: lighten($comments-color, 10%);
      color: #ffffff;
    }

    &.active {
      &:before {
        background: #ffffff;
        color: $comments-color;
      }
    }
  }
}

.comments-view {
  .more-posts {
    color: $comments-color;
  }
}

