$messages-lighten-color: lighten($messages-color, 10%);

.messages-tabs {
  .tabs-nav {
    .tab {
      color: $messages-color;

      &.active {
        background: $messages-lighten-color;
        color: #ffffff;
        border-bottom-color: $messages-color;
      }
    }
  }

  .messages-unread-tab:before {
    @extend .fa-envelope;
  }

  .messages-incoming-tab,
  .messages-outgoing-tab {
    position: relative;

    &:before {
      @extend .fa-envelope;
    }

    &:after {
      @extend .fa;
      position: absolute;
      font-size: 0.9em;
      margin-left: 0.75em;
      left: 10pt;
      top: 50%;
      display: block;
      width: 0.9em;
      height: 0.9em;
      padding: 0;
      @include box-sizing("content-box");
      @include border-radius(50%);
      background: #ffffff;
      border: solid 1px #ffffff;
    }

    &.active:after {
      left: 15pt;
      background: $messages-lighten-color;
      border: solid 1px $messages-lighten-color;
    }
  }

  .messages-incoming-tab:after {
    content: $fa-var-arrow-circle-down;
  }

  .messages-outgoing-tab:after {
    content: $fa-var-arrow-circle-up;
  }

  .counter-tab {
    &:before {
      background: $messages-lighten-color;
      color: #ffffff;
    }

    &.active {
      &:before {
        background: #ffffff;
        color: $messages-color;
      }
    }
  }
}

.messages-view {
  .more-posts {
    color: $messages-color;
  }
}

