.profile-tabs {
  .tabs-nav {
    .tab {
      color: $profile-color;

      &.active {
        background: lighten($profile-color, 10%);
        color: #ffffff;
        border-bottom-color: $profile-color;
      }
    }
  }

  .profile-info-tab:before { @extend .fa-info-circle; }
  .profile-settings-tab:before { @extend .fa-sliders; }
  .profile-im-tab:before { @extend .fa-comments; }
  .profile-www-tab:before { @extend .fa-globe; }
  .profile-password-tab:before { @extend .fa-asterisk; }


  .counter-tab {
    &:before {
      background: lighten($profile-color, 10%);
      color: #ffffff;
    }

    &.active {
      &:before {
        background: #ffffff;
        color: $profile-color;
      }
    }
  }
}

.profile-page {
  margin: 1em 10pt;
}

.profile-info-page {
  #login-input, #name-input, #location-input {
    max-width: 50em;
  }

  #birthdate-input {
    max-width: 10em;
  }

  #about-input {
    min-height: 10em;
  }
}

.profile-www-page {
  #usercss, #blogcss {
    min-height: 10em;
  }
}
