.recent-tabs {
  .tabs-nav {
    .tab {
      color: $recent-color;

      &.active {
        background: lighten($recent-color, 10%);
        color: #ffffff;
        border-bottom-color: $recent-color;
      }
    }
  }

  .recent-tab:before {
    @extend .fa-th-list;
  }

  .counter-tab {
    &:before {
      background: lighten($recent-color, 10%);
      color: #ffffff;
    }

    &.active {
      &:before {
        background: #ffffff;
        color: $recent-color;
      }
    }
  }
}

.recent-view {
  .more-posts {
    color: $recent-color;
  }
}

