<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Point.im</title>

    <link rel="icon" href="img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>

    <meta name="MobileOptimized" content="176"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
    <script>
      $(function(){
          if ('ontouchstart' in document.documentElement) {
            $('body').addClass('touch-device');
          }

        //var loader = $('.loader');
        //var animInterval;

        //mainDiv.click(function(){
          /*if (loader.hasClass('loading')) {
            console.log('stop loading');
            loader.removeClass('loading').removeClass('anim');
            clearInterval(animInterval);
          } else {
            console.log('loading');
            loader.addClass('loading').addClass('anim');
            animInterval = setInterval(function () {
              loader.removeClass('anim');
              setTimeout(function(){
                loader.addClass('anim');
              }, 200);
            }, 4800);
          }*/
          //$('.main').toggleClass('newpost');
        //});

        var mainDiv = $('.main');

        $('.btn-newpost').click(function () {
          toggleSidebar(false);
          mainDiv.addClass('newpost');
        });

        $('.popup-newpost .btn-cancel').click(function () {
          mainDiv.removeClass('newpost');
        });

        $('textarea').autosize();

        $('.upload').on('change', 'input', function(evt){
          var num = $(this).closest('.upload').find('.number');
          num.toggleClass('positive', this.files.length > 0);
          num.text(this.files.length);
        });

      });
    </script>
  </head>
  <body>
    <div class="main">
      <div class="popup-container">
        <div class="popup popup-newpost">
          <form action="/post" method="post" enctype="multipart/form-data">
            <div class="row header-row">
              <label class="private-label">
                <input type="checkbox" name="private"/>
                <div class="label"><span>Приватный<span></div>
              </label>
              <h3>Новый пост</h3>
            </div>
            <div class="row tags-row">
              <textarea id="tags-input" name="tags" placeholder="Теги"></textarea>
            </div>
            <div class="row text-row">
              <textarea id="text-input" name="text" placeholder="Текст"></textarea>
            </div>
            <div class="row buttons-row">
              <div class="upload">
                <input type="file" multiple="multiple" name="file"/>
                <span class="number">0</span>
              </div>
              <div class="buttons">
                <input type="button" class="btn btn-cancel" value="Отмена"/>
                <input type="submit" class="btn" value="Отправить"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="main-inner">
        <div class="sidebar">
          <div class="clearfix">
            <a href="/" class="logo">
              <img src="img/logo.png" alt="point.im"/>
            </a>
            <a class="btn-newpost"></a>
          </div>

          <div class="menu">
            <a class="recent" href="/recent">Лента</a>
            <a class="blog" href="/">Блог</a>
            <a class="comments" href="/comments">Комментарии</a>
            <a class="messages" href="/messages">Сообщения</a>
            <a class="bookmarks" href="/bookmarks">Закладки</a>
            <a class="search" href="/search">Поиск</a>
          </div>

          <div class="menu profile-menu">
            <a class="profile active" href="/profile">Профиль</a>
            <a class="logout" href="/logout">Выйти</a>
          </div>
        </div>
        <div class="sidebar-handle"></div>
        <div class="content">
          <div class="content-inner">
            <div class="tabs header-tabs profile-tabs">
              <div class="tabs-nav">
                <a href="/profile/info" class="active">Инфо</a>
                <a href="/profile/settings">Настройки</a>
                <a href="/profile/im">IM</a>
                <a href="/profile/www">Сайт</a>
                <a href="/profile/password">Пароль</a>
              </div>

              <div class="tabs-content">
                <div class="profile-info-page active">
                  <form action="." method="post">
                    <div class="row">
                      <label class="label" for="login-input">Ник</label>
                      <div class="value">
                        <input type="text" readonly="readonly" disabled="disabled" name="login" id="login-input" value="arts"/>
                        <div class="descr">Менять ник можно не чаще одного раза в сутки</div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="label" for="name-input">Имя</label>
                      <div class="value"><input type="text" name="name" id="name-input" value="Артём Сажин"/></div>
                    </div>
                    <div class="row columns-row">
                      <div class="column">
                        <label class="label" for="birthdate-input">Дата рождения</label>
                        <div class="value">
                          <input type="date" name="birthdate" id="birthdate-input" placeholder="ДД.ММ.ГГГГ"/>
                        </div>
                      </div>
                      <div class="column">
                        <label class="label" for="">Пол</label>
                        <div class="value">
                          <label><input type="radio" name="gender" value="m" checked="checked"/>Мужской</label>
                          <label><input type="radio" name="gender" value="f"/>Женский</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="label" for="location-input">Город</label>
                      <div class="value"><input type="text" name="location" id="location-input" value=""/></div>
                    </div>
                    <div class="row">
                      <label class="label" for="about-input">О себе</label>
                      <div class="value"><textarea name="about" id="about-input" maxlength="2000"></textarea></div>
                    </div>
                    <div class="row">
                      <input type="submit" class="btn" value="Сохранить"/>
                    </div>
                  </form>
                </div>

                <div class="profile-settings-page">
                  <form action="." method="post">
                    <div class="row">
                      <div class="label">Язык</div>
                      <div class="value">
                        <select name="lang">
                          <option></option>
                          <option value="en"{% if profile.lang == 'en' %} selected="selected"{% endif %}>English</option>
                          <option value="ru"{% if profile.lang == 'ru' %} selected="selected"{% endif %}>Русский</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Часовой пояс</div>
                      <div class="value">
                          <select name="tz">
                          </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Ограничения доступа</div>
                      <div class="value">
                        <div>
                          <label><input type="checkbox" name="deny_anonymous" {% if profile.deny_anonymous %} checked="checked"{% endif %}/>Только залогиненные</label>
                          <div class="descr">
                            Доступ к блогу будут иметь только аутентифицированные пользователи.<br/>
                            Это поможет, например, скрыть Ваши записи от поисковых роботов.
                          </div>
                        </div>
                        <div>
                          <label><input type="checkbox" name="private"{% if profile.private %} checked="checked"{% endif %}/>Приватный блог</label>
                          <div class="descr">
                            Доступ к блогу будут иметь только пользователи из Вашего белого списка.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <input type="submit" class="btn" value="Сохранить"/>
                    </div>
                  </form>
                </div>

                <div class="profile-im-page">
                  <form action="." method="post">
                    <div class="row">
                     <div class="label">Доставка сообщений</div>
                      <div class="value">
                        <label><input type="radio" name="im.off" value=""/>Включена</label>
                        <label><input type="radio" name="im.off" value="1"/>Отключена</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Формат сообщений</div>
                      <div class="value">
                        <label><input type="radio" name="im.xhtml" value="1"/>XHTML-IM</label>
                        <label><input type="radio" name="im.xhtml" value=""/>Текст</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Уведомлять меня об упоминаниях</div>
                      <div class="value">
                        <label><input type="radio" name="im.highlight" value="1"/>Да</label>
                        <label><input type="radio" name="im.highlight" value=""/>Нет</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Автоматически переключать активный JID/ресурс</div>
                      <div class="value">
                        <label><input type="radio" name="im.auto_switch" value="1"/>Да</label>
                        <label><input type="radio" name="im.auto_switch" value=""/>Нет</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Отдельные ресурсы для пользователей (только jabber)</div>
                      <div class="value">
                        <label><input type="radio" name="im.user_resource" value="1"/>Да</label>
                        <label><input type="radio" name="im.user_resource" value=""/>Нет</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Отдельные ресурсы для постов (только jabber)</div>
                      <div class="value">
                        <label><input type="radio" name="im.post_resource" value="1"/>Да</label>
                        <label><input type="radio" name="im.post_resource" value=""/>Нет</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Обрезать длинные посты до</div>
                      <div class="value">
                        <label><input type="radio" name="im.cut" value="1"/>Да</label>
                        <label><input type="radio" name="im.cut" value=""/>Нет</label>
                      </div>
                    </div>
                    <div class="row">
                      <input type="submit" class="btn" value="Сохранить"/>
                    </div>
                  </form>
                </div>

                <div class="profile-www-page">
                  <form action="." method="post">
                    <div class="row">
                      <div class="label">Комментарии</div>
                      <div class="value">
                        <label><input type="radio" name="www.tree" value="1"/>Дерево</label>
                        <label><input type="radio" name="www.tree" value=""/>Список</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">Пользовательский CSS</div>
                      <div class="value">
                        <textarea id="usercss" name="www.usercss"></textarea>
                        <div class="descr">Пользовательские стили для всех страниц. Будут видны только Вам.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label">CSS для блога</div>
                      <div class="value">
                        <textarea id="blogcss" name="www.blogcss"></textarea>
                        <div class="descr">Эти стили будут видеть все посетители Вашего блога.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="label"></div>
                      <div class="value">
                        <input type="checkbox" id="ignorecss" name="www.ignorecss"/>
                        <label for="ignorecss">Игнорировать пользовальские стили других блогов.</label>
                      </div>
                    </div>
                    <div class="row">
                      <input type="submit" class="btn" value="Сохранить"/>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
