$recent-color: #2196f3;
$blog-color: #ff5252;
$other-blog-color: #ff5722;
$comments-color: #00796b;
$messages-color: #3f51b5;
$bookmarks-color: #0097a7;
$search-color: #f9a825;
$profile-color: #616161;

