$recent-color: #00796b;
$blog-color: #ff5252;
$other-blog-color: #ff5722;
$comments-color: #2196f3;
$messages-color: #3f51b5;
$bookmarks-color: #35587c;
$search-color: #35587c;
$profile-color: #35587c;

