@mixin input-error {
  background-color: #ffffd0;
  color: #880000;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
textarea {
  border: solid 1px;
  border-color: #afbfd0;
  outline: 0;
  @include box-sizing("border-box");
  padding: .5em;
  @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, .1),
                      0 1px 0 rgba(255, 255, 255, .75));
  @include transition(box-shadow .5s ease,
                      border-color .5s ease,
                      background-color .5s ease);
  background: #ffffff;
  font-family: $typography-font-family;
  font-size: $typography-font-size;

  &.error {
    @include input-error;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
textarea:focus {
  border-color: #67819c;
  @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, .25),
                      0 1px 0 rgba(255, 255, 255, .75));
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
textarea[disabled] {
  background: #f4f4f4;
  color: #808080;
}

textarea {
    resize: vertical;
}

.error {
  input, textarea {
    @include input-error;
  }
}

.btn {
  border: 0;
  padding: 1em 2em;
  font-weight: normal;
  color: #ffffff;
  background-color: #606060;
  @include transition(background-color .5s ease);
  cursor: pointer;

  &:hover {
    background-color: #808080;
  }
  &:active {
    background-color: #404040;
  }

  &[disabled] {
    background-color: #a0a0a0;
    color: #808080;
  }
}

.btn-cancel {
  padding: 1em;
  font-weight: normal;
  background: transparent;
  color: #35587c;

  &:hover, &:active {
    background: inherit;
  }
}
