@import "compass/css3";

$loader-color: #35587c;
$loader-height: 5px;

.loader {
  position: fixed;
  left: 0;
  top: -#{$loader-height};
  width: 100%;
  height: $loader-height;
  z-index: 1;
  background: #35587c;
  @include transition(top .25s);

  &.loading {
    top: 0;
  }

  & * {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: solid 1px #ffffff;
  }

  &.anim * {
    display: block;
    width: 100%;
    @include transition-property(width);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in-out);
  }

  @for $i from 1 through 8 {
    &.anim .loader-#{$i} {
      @include transition-delay(#{$i/2 - 0.5}s);
      @if $i > 4 {
        background: lighten($loader-color, percentage(0.8 - 0.1*$i));
      } @else {
        background: lighten($loader-color, percentage(0.1*$i));
      }
    }
  }
}
