@import "compass/css3";

.tabs {
  .tabs-nav {
    display: table;
    @include clearfix;

    .tab {
      display: table-cell;
      max-width: 20em;
      padding: 1em 10pt;
      @include box-sizing("border-box");
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #35587c;
      text-decoration: none;
      border-bottom: solid 5px transparent;
    }

    .active {
      padding: 1em 15pt;
      background: #f0f0f0;
      border-bottom: solid 5px #35587c;
    }
  }

  &.header-tabs,
  &.header {
    .tabs-nav {

      .tab {
        padding: 0 10pt;
        text-indent: 0;
        /*text-transform: uppercase;*/

        &.active {
          padding: 0 15pt;
        }
      }
    }
  }

  .tabs-content {
  }

  .tabs-content > div {
    display: none;

    &.active {
      display: block;
    }
  }
}
