@import "compass/reset";
@import "compass/css3";
@import "colors";
@import "typography";
@import "fa";
@import "util/respond";

$header-height: 42pt;

@import "sidebar";
@import "popup";
@import "newpost";
@import "inputs";
@import "forms";
@import "tabs";

@import "pages";

@import "footer";

$max-content-width: 1024px;

html {
  height: 100%;
}

body {
  background: #ffffff;
  margin: 0;
  height: 100%;
}

.main {
  position: relative;
  overflow: hidden;
  height: 100%;
  @include box-sizing("border-box");

  .main-inner {
    height: 100%;
    left: 0;
    position: relative;
    transition: transform 0.25s ease 0s;
    z-index: 1;

    &:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      top: 0;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
      content: "";
      opacity: 0;
      transition: opacity 0.25s ease 0s,
                  width 0.1s ease 0.5s,
                  height 0.1s ease 0.25s;
    }
  }
}

.content {
  height: 100%;
  @include box-sizing("border-box");
  overflow-y: scroll;
}

.content-inner {
  position: relative;
  max-width: $max-content-width;
  min-height: 50%;
  margin: 0 auto;
  padding-top: #{$header-height + 13pt};
  @include box-sizing("border-box");
}

.header {
  position: fixed;
  z-index: 0;
  left: 0;
  top: -$header-height;
  z-index: 2;
  width: 100%;
  transform: translateY($header-height);
  @include transition(transform 0.25s);

  &.hidden {
    transform: translateY(0px);
  }

  .header-inner {
    position: relative;
    z-index: 1;
    @include box-sizing("border-box");
    width: 100%;
    max-width: #{$sidebar-width + $max-content-width};
    margin: 0 auto;

    &:after {
      content: '';
      position: relative;
      z-index: 0;
      width: 100%;
      height: 4px;
      bottom: 4px;
      margin-right: 1em;
      display: block;
      @include transition(box-shadow 0.25s, background 0.25s);
      background: transparent;
    }

    .touch-device &:after {
    }

    @include respond-to(800px) {
      padding-left: $sidebar-width;
    }
  }

  &.scrolled {
    .header-inner {
      &:after {
        @include box-shadow(0 3px 2px rgba(0,0,0,.125));
      }
    }
  }
}

footer {
  
}

