<div class="login-wrap">
  <div class="links">
    <span class="reg-link">Регистрация</span>
    <span class="login-link">Вход</span>
  </div>

  <div class="forms-wrap">
    <div class="forms">
      <form class="reg-form" action="//{{ settings.domain }}/register" method="POST" autocomplete="off">
        <div class="input-container js-input-container">
          <input type="text" name="login" placeholder="Логин" required
            data-error='{"match": "Login may contain [a-z0-9] or \"-\"", "inuse": "This login is already in use"}'>
          <div class="input-error-label js-input-error-label"></div>
        </div>
        <div class="input-container js-input-container">
          <input type="password" name="password" placeholder="Пароль" required
            data-error='{"default": "Password is required", "length": "Password must contain at least 6 characters"}'>
          <div class="input-error-label js-input-error-label"></div>
        </div>
        <div class="input-container js-input-container">
          <input type="email" name="email" placeholder="E-mail">
          <div class="input-error-label js-input-error-label"></div>
        </div>

        <div class="recaptcha js-input-container">
          <script src="//www.google.com/recaptcha/api.js" async defer></script>
          <div class="g-recaptcha" data-sitekey="{{settings.recaptcha_public_key}}" data-theme="{{ recaptcha_theme }}"></div>
          <div class="input-error-label js-input-error-label"></div>
        </div>

        <button type="submit" class="btn submit js-submit">
          <span class="label">Вперёд!</span>
          <span class="loading">Секундочку...</span>
        </button>
      </form>

      <form class="login-form" action="//{{ settings.domain }}/login" method="POST">
        <div class="input-container js-input-container">
          <input type="text" name="login" placeholder="Логин">
        </div>
        <div class="input-container js-input-container">
          <input type="password" name="password" placeholder="Пароль"
            data-error='{"default":"Password cannot be empty", "credentials": "Invalid login or password"}'>
          <div class="input-error-label js-input-error-label"></div>
        </div>

        <button type="submit" class="btn submit js-submit">
          <span class="label">Войти</span>
          <span class="loading">Секундочку...</span>
        </button>
        <a class="remember" href="/remember">Забыли пароль?</a>
      </form>
    </div>
  </div>

  <script src="//ulogin.ru/js/ulogin.js"></script>
  <div id="uLogin" class="ulogin"
       data-ulogin="display=buttons;fields=nickname,first_name,last_name,photo_big;redirect_uri=https%3a%2f%2f{{settings.domain}}%2fulogin">
    <i class="fa fa-facebook" data-uloginbutton="facebook"></i>
    <i class="fa fa-vk" data-uloginbutton="vkontakte"></i>
    <i class="" data-uloginbutton="yandex">Я</i>
    <i class="fa fa-google" data-uloginbutton="google"></i>
    <i class="fa fa-twitter" data-uloginbutton="twitter"></i>
    <i class="fa fa-openid" data-uloginbutton="openid"></i>
    <i class="fa fa-angle-down" data-uloginbutton="window"></i>
  </div>
</div>
